//-	
	File name: login.pug
	Author's name: Tilakbhai Suthar
	Student Number: 200393400
	Website name: https://tilaksuthar.herokuapp.com/
	This is the login pug file which is used for the user login to the website. The file layout is extended from the layout.pug file.
	References for the file: https://github.com/Naismith/comp2068-f2019-week09/blob/master/views/auth/login.pug
extends ../layout

block content
	.coverContainer
		img.cover(src='/images/cover.jpg', alt='Cover Image')
		.titleCentered 
			p Please Login!
			p If you have not registered yet, Please go to Register Page.
	.container
		h1 Login Form
		form(method="post")
			.form-group
				label Username
				input.form-control(name="username")
			.form-group
				label Password
				input.form-control(name="password")
			if error && error.length
				.alert.alert-danger= error
			button.btn.btn-primary Submit