footer
  .gridContainer
    .gridItems
      h4#footer Get in Touch
      p#contact 135, Holgate Street, Barrie ON, L4N 3J1 
    .gridItems
      h6#email Email: 
      a#email(href='mailto:tilaksuthar98@gmail.com')
          | tilaksuthar98@gmail.com
    .gridItems
      p#copyright Copyright © 2019 Tilak Suthar