//-
	File name: footer.pug
	Author's name: Tilakbhai Suthar
	Student Number: 200393400
	Website name: https://tilaksuthar.herokuapp.com/
	This is the footer pug file which is used at the bottom of every page and it is only included once with the layout.pug file
footer
	.gridContainer
		.gridItems
			h4#footer Get in Touch
			p#contact 22, Larkin Dr, Barrie ON, L4M 7A9 
			a#email(href='mailto:tilaksuthar98@gmail.com')
				| tilaksuthar98@gmail.com
		.gridContainer
			.gridItems#icons
				a.fa.fa-facebook(href='https://www.facebook.com/tilak.gajjar.5')
			.gridItems#icons
				a.fa.fa-linkedin(href='https://www.linkedin.com/in/tilak-suthar-4aa336164/')
			.gridItems#icons
				a.fa.fa-github(href='https://github.com/tiks98/')
		.gridItems
			p#copyright Copyright © 2020 Tilak Suthar