//-
	File name: header.pug
	Author's name: Tilakbhai Suthar
	Student Number: 200393400
	Website name: https://tilaksuthar.herokuapp.com/
	This is the header pug file which I used to implement the pug file. It is only included once in the layout.pug file and all the pages have it on the top.
	This code is taken from the bootstrap navbar page
	Reference: https://getbootstrap.com/docs/4.3/components/navbar/

//- |	This Website is in Development Phase
//- .alert#development
//- 	|  This Website is in Development Phase.
//- nav.navbar.navbar-expand-lg.fixed-top.py-3
nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-transparent
	a.navbar-brand(href='../')
		img(src='/images/logo1@3x.png', width='50', height='30', alt='logo')
	button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo03' aria-controls='navbarTogglerDemo03' aria-expanded='false' aria-label='Toggle navigation')
		span.navbar-toggler-icon
	#navbarTogglerDemo03.collapse.navbar-collapse
		ul.navbar-nav.mr-auto
			li.nav-item
				a.nav-link.text-white(href='../')
					| Home 
			li.nav-item
				a.nav-link.text-white(href='../about_me') About Me
			li.nav-item
				a.nav-link.text-white(href='../project') Projects
			li.nav-item
				a.nav-link.text-white(href='../services') Services
			li.nav-item
				a.nav-link.text-white(href='../contact') Contact Me
		ul.navbar-nav
			if isLoggedIn
				li.nav-item
					a.nav-link.text-white(href='/logout') Logout
			else
				li.nav-item
					a.nav-link.text-white(href='/login') Login
				li.nav-item
					a.nav-link.text-white(href='/register') Register

