nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='../')
  img(src='/images/logo.jpg', width='30', height='30', alt='logo')
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='../')
          | Home 
      li.nav-item
        a.nav-link(href='../about_me') About Me
      li.nav-item
        a.nav-link(href='../project') Projects
      li.nav-item
        a.nav-link(href='../services') Services
      li.nav-item
        a.nav-link(href='../contact') Contact Me
