extends layout

block content
  .coverContainer
    img.cover(src='/images/cover.jpg', alt='Cover Image')
    .titleCentered   
      h1= title_about
      p Welcome to #{title_about} page

  .aboutDescriptionContainer
    p Hi, I’m Tilak Suthar and I’m a Computer Programmer, I like to program HTML, CSS, JavaScript, Java, ASP.NET and z/OS. I’m good at making web pages dynamic and intuitive, I have Administered Database with MySQL and SQLSERVER during my college studies. I have Worked With Netech Cabling Inc. to install and Maintain Various Operating Systems on different types of computers and also for maintenance of the various networking devices. Lastly, I earned Master the Mainframe – 2018 Global Championship identifications for effectively finishing Part 2 within deadline (this present reality challenge).