extends layout

block content
  .coverContainer
    img.cover(src='/images/cover.jpg', alt='Cover Image')
    .titleCentered
      h1= title_contact
      p Welcome to #{title_contact} page

    form
    .form
      div
        label(for='firstName') First Name:
        input#firstName(type='text', placeholder='First name' required)
      div
        label(for='lastName') Last Name:
        input#lastName(type='text', placeholder='Last name' required)
      div
        label(for='emailAddress') Email address:
        input#emailAddress.form-control(type='email', placeholder='Enter email' required)
      div
        label(for='message') Message:
        input#message.form-control(type='textArea', placeholder='Enter your message here!' required)
      input(type='submit')
