extends layout

block content
  .coverContainer
    img.cover(src='/images/cover.jpg', alt='Cover Image')
    .titleCentered
      h1= title_contact
      p Let's Catch Up!

  form
    .formContainer
      form
        .row
          .labelsForm
            label(for='fname') First Name
          .inputsForm
            input#fname(type='text', name='firstname', placeholder='Please enter your first Name')
        .row
          .labelsForm
            label(for='lname') Last Name
          .inputsForm
            input#lname(type='text', name='lastname', placeholder='Please enter your last name')
        .row
          .labelsForm
            label(for='email') Email
          .inputsForm
            input#email(type='email', name='Email', placeholder='Please enter email address')
        .row
          .labelsForm
            label(for='subject') Subject
          .inputsForm
            textarea#subject(name='subject', placeholder='Write something here..', style='height:200px')
        .row
          input(type='submit', value='Submit')
