//-
  File name: error.pug
  Author's name: Tilakbhai Suthar
  Student Number: 200393400
  Website name: https://tilaksuthar.herokuapp.com/
  This is the error pug file which is show the error message and status if any error occurs while running the website
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
