extends layout

block content
  .coverContainer
    img.cover(src='/images/cover.jpg', alt='Cover Image')
    .titleCentered  
      h1= title_projects
      p Welcome to #{title_projects} page
  
  h1#project Here are some projects!
  .gridContainer
    .gridItems
      .projectImage
        a(target='_blank', href='https://newfurniturestore20190812032157.azurewebsites.net/')
          img(src='/images/Furnyish.jpg', alt='Furnyish Store', style='width:100%')
          .altContainer
            p Furnyish Store using ASP.NET
    .gridItems
      .projectImage
        a(target='_blank', href='https://github.com/tiks98/Weird-Deals-Project')  
          img(src='/images/weirdDeals.jpg', alt='Weird Deals', style='width:100%')
          .altContainer
            p Weird Deals using JSON
    .gridItems
      .projectImage
        a(target='_blank', href='https://github.com/tiks98/Tip-Calculator-iOS-App')    
          img(src='/images/tipCalculator.jpg', alt='Tip Calculator', style='width:100%')
          .altContainer
            p Tip Calculator using Swift
    .gridItems
      .projectImage
        a(target='_blank', href='https://github.com/tiks98/Card-Game-Swift')  
          img(src='/images/cardGame.jpg', alt='Card Game', style='width:100%')
          .altContainer
            p Card Game using Swift
    .gridItems
      .projectImage
        a(target='_blank', href='https://github.com/tiks98/JavaScript-Lab-1-Rock-Paper-Scissors-Game')  
          img(src='/images/rpsGame.jpg', alt='RockPaperSciscorrs Game', style='width:100%')
          .altContainer
            p Rock Paper sciscorrs using NodeJS
    .gridItems
      .projectImage
        a(target='_blank', href='https://www.youracclaim.com/badges/9632fe9b-6e66-4564-aec6-f3c5dccfe561/linked_in_profile')  
          img(src='/images/IBMMTM2018.jpg', alt='IBM Master The Mainframe 2018 Badge', style='width:100%')
          .altContainer
            p IBM MTM Part 2 Finisher