//-
  File name: services.pug
  Author's name: Tilakbhai Suthar
  Student Number: 200393400
  Website name: https://tilaksuthar.herokuapp.com/
  This is the services pug file which is used to display the services I provide for the employer. The file layout is extended from the layout.pug file.
extends layout

block content
  .coverContainer
    img.cover(src='/images/cover.jpg', alt='Cover Image')
    .titleCentered
      h1= title_services
      p Welcome to #{title_services} page

  .servicesContainer
    h1#services Here are some services that I provide
    h2#services Front-End Web Development
    .gridContainer
      .gridItems
        .serviceImage
          img(src='/images/html.jpg', alt='HTML CSS Javascript', style='width:80%')
          .altContainer
            p HTML5 CSS3 JavaScript
      .gridItems
        .serviceDescription
          p I am more of Front-End Web Development Person because I like to Design the web pages with Animations and Transitions. Thus I thinks I have more Knowledge of HTML5, CSS3 and JavaScript for the Front-End Development.  
    h2#services Back-End Web Development
    .gridContainer
      .gridItems
        .serviceDescription
          p Worked on a Team Project in second semester to develop a Book Tracking using PHP with implementation of Bootstrap and Amazon Web Services.
      .gridItems
        .serviceImage
          img(src='/images/php.jpg', alt='PHP', style='width:100%')
          .altContainer
            p PHP
    .gridContainer  
      .gridItems
        .serviceImage
          img(src='/images/node.jpg', alt='Express with NodeJS', style='width:100%')
          .altContainer
            p Express with NodeJS
      .gridItems
        .serviceDescription
          p Currently making the Portfolio Website in NodeJS using ExpressJS with implementation of pug view template. 
    h2#services SQL Manipulation
    .gridContainer  
      .gridItems
        .serviceDescription
          p Advance Database Manipulation using CRUD Commands and implementation of databases into the website with back-end support. Use of MongoDB into the NodeJS to get the data from cloud. 
      .gridItems
        .serviceImage
          img(src='/images/sqlserver.jpg', alt='SQLServer', style='width:80%')
          .altContainer
            p Implementation of SQLServer in Websites