/*
  File name: style.css
  Author's name: Tilakbhai Suthar
  Student Number: 200393400
  Website name: https://tilaksuthar.herokuapp.com/
  This is the main stylesheet with all the css of every page in the website.
  With the different id's and classes it can be differntiated that which page and class or id the css is used.
  Reference: https://www.w3schools.com/css/default.asp 
*/

html {
  overflow-x: hidden;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #181818;
}

input.form-control {
  background-color: #292929;
  color: white;
}

textarea.form-control {
  background-color: #292929;
  color: white;
}

a {
  color: #7256f6;
}

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
  transform: scale(1.1);
}

.navbar .navbar-brand {
  color: #121212;
}

.navbar .navbar-brand:hover {
  color: #121212;
  transform: scale(1.2);
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #121212;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #fff;
}

.alert#development {
  padding: 0px;
  margin-bottom: 0px;
  background-color: #f44336;
  color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.skillContainer {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
  width: 90%;
  background-color: #4caf50;
}
.css {
  width: 80%;
  background-color: #2196f3;
}
.js {
  width: 65%;
  background-color: #f44336;
}
.php {
  width: 60%;
  background-color: #808080;
}

.fa:hover {
  opacity: 0.7;
  transform: scale(1.4);
}

.fa-github {
  /* background: #2c4762; */
  color: white;
}

.fa-facebook {
  /* background: #3b5998; */
  color: white;
}

.fa-linkedin {
  /* background: #007bb5; */
  color: white;
}

/* Clear floats after the columns */
.row:after {
  clear: both;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #121212;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #fff;
  }
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 600px) {
  .labelsForm,
  .inputsForm,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }

  .titleCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 15px;
    -webkit-animation: titleAnimation 4s; /*Animation For Safari*/
    animation: titleAnimation 4s; /*Animation for other browser*/
  }

  @-webkit-keyframes titleAnimation {
    from {
      top: 40%;
      left: 50%;
    }
    to {
      top: 50%;
      left: 50%;
    }
  }

  /*Animation keyframes for the other browsers */
  @keyframes titleAnimation {
    from {
      top: 40%;
      left: 50%;
    }
    to {
      top: 50%;
      left: 50%;
    }
  }

  .aboutDescriptionContainer {
    position: relative;
    font-size: 20px;
    color: black;
    width: 100%;
    top: 40px;
    left: 20px;
    -webkit-animation: descAnimation 5s; /*For Safari*/
    animation: descAnimation 5s;
  }

  .gridContainer#altContainer,
  .gridItems#altContainer {
    display: grid;
    grid-template-columns: auto;
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
  }

  .gridItems#icons {
    display: grid;
    grid-template-columns: auto;
    margin-top: 10px;
    text-align: center;
  }

  .gridContainer,
  .gridItems,
  .projectImage,
  .serviceImage,
  .altContainer {
    display: grid;
    grid-template-columns: auto;
    margin-top: 10px;
    margin-left: 15px;
    text-align: center;
  }

  h4#footer,
  p#contact,
  h6#email,
  a#email,
  p#copyright {
    display: grid;
    grid-template-columns: auto;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }

  .coverContainer {
    /*Cover container for the every page having the cover image*/
    position: relative;
    background-attachment: fixed;
  }

  /*Second Cover image on the About Me page*/
  .aboutCover {
    position: relative;
    background-attachment: fixed;
    /* padding: 50px;
    padding-top: 60px; */
  }

  video#about {
    width: 100%;
    height: auto;
  }

  p#quote {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
  }

  h2#index {
    /* padding-top: 40px;
    padding-left: 20px; */
    text-align: center;
  }

  h2#quoteIndex {
    padding-top: 50px;
    text-align: center;
  }

  h1.quote {
    text-align: center;
    padding: 40px 40px;
    font-style: italic;
  }

  h1#project {
    text-align: center;
    padding-top: 30px;
  }

  h1#services {
    text-align: center;
    padding-top: 30px;
  }

  h2#services {
    padding-top: 40px;
    padding-left: 30px;
  }

  .projectImage {
    width: 80%;
    background-color: #292929;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(117, 117, 117, 0.3),
      0 7px 18px 0 rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .projectImage#index {
    width: 95%;
    background-color: #292929;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(117, 117, 117, 0.3),
      0 7px 18px 0 rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .serviceImage {
    max-width: 70%;
    background-color: #292929;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(117, 117, 117, 0.3),
      0 7px 18px 0 rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .altContainer {
    text-align: center;
    padding: 15px 10px;
    font-size: 20px;
  }

  .serviceDescription {
    text-align: left;
  }

  .formContainer {
    background-color: #181818;
    color: white;
    padding: 20px;
  }

  .labelsForm {
    float: left;
    width: 25%;
    margin-top: 7px;
  }

  .inputsForm {
    float: left;
    width: 75%;
    margin-top: 7px;
  }

  footer {
    position: bottom;
    width: 100%;
    background-color: #292929;
    color: white;
    padding-bottom: 80px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .labelsForm,
  .inputsForm,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }

  .titleCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 15px;
    -webkit-animation: titleAnimation 4s; /*Animation For Safari*/
    animation: titleAnimation 4s; /*Animation for other browser*/
  }

  @-webkit-keyframes titleAnimation {
    from {
      top: 30%;
      left: 50%;
    }
    to {
      top: 40%;
      left: 50%;
    }
  }

  /*Animation keyframes for the other browsers */
  @keyframes titleAnimation {
    from {
      top: 30%;
      left: 50%;
    }
    to {
      top: 40%;
      left: 50%;
    }
  }

  .aboutDescriptionContainer {
    position: relative;
    font-size: 20px;
    color: black;
    width: 100%;
    top: 40px;
    left: 20px;
    -webkit-animation: descAnimation 5s; /*For Safari*/
    animation: descAnimation 5s;
  }

  .gridContainer#altContainer,
  .gridItems#altContainer {
    display: grid;
    grid-template-columns: auto;
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
  }

  .gridContainer,
  .gridItems,
  .projectImage,
  .serviceImage,
  .altContainer {
    display: grid;
    grid-template-columns: auto;
    margin-top: 10px;
    /* margin-left: 25px; */
    text-align: center;
  }

  .gridContainer#project,
  .gridItems#project,
  .projectImage {
    display: grid;
    grid-template-columns: auto;
    margin-top: 10px;
    margin-left: 60px;
    text-align: center;
  }

  h4#footer,
  p#contact,
  h6#email,
  a#email,
  p#copyright {
    display: grid;
    grid-template-columns: auto;
    margin-top: 10px;
    text-align: center;
  }

  .aboutDescriptionContainer {
    position: relative;
    font-size: 20px;
    color: black;
    width: 100%;
    top: 40px;
    left: 20px;
    -webkit-animation: descAnimation 5s; /*For Safari*/
    animation: descAnimation 5s;
  }

  .coverContainer {
    /*Cover container for the every page having the cover image*/
    position: relative;
    background-attachment: fixed;
  }

  /*Second Cover image on the About Me page*/
  .aboutCover {
    position: relative;
    background-attachment: fixed;
    /* padding: 50px;
    padding-top: 60px; */
  }

  p#quote {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
  }

  h2#index {
    padding-top: 40px;
    padding-left: 20px;
  }

  h2#quoteIndex {
    padding-top: 50px;
    text-align: center;
  }

  h1.quote {
    text-align: center;
    padding: 40px 40px;
    font-style: italic;
  }

  h1#project {
    text-align: center;
    padding-top: 30px;
  }

  h1#services {
    text-align: center;
    padding-top: 30px;
  }

  h2#services {
    padding-top: 40px;
    padding-left: 30px;
  }

  .projectImage {
    width: 80%;
    background-color: #292929;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(117, 117, 117, 0.3),
      0 7px 18px 0 rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .projectImage#index {
    width: 95%;
    background-color: #292929;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(117, 117, 117, 0.3),
      0 7px 18px 0 rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .serviceImage {
    max-width: 70%;
    background-color: #292929;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(117, 117, 117, 0.3),
      0 7px 18px 0 rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .altContainer {
    text-align: center;
    padding: 15px 10px;
    font-size: 20px;
  }

  .serviceDescription {
    text-align: left;
  }

  .formContainer {
    background-color: #181818;
    color: white;
    padding: 20px;
  }

  .labelsForm {
    float: left;
    width: 25%;
    margin-top: 7px;
  }

  .inputsForm {
    float: left;
    width: 75%;
    margin-top: 7px;
  }

  footer {
    position: bottom;
    width: 100%;
    background-color: #292929;
    color: white;
    padding-bottom: 80px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .labelsForm,
  .inputsForm,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }

  .titleCentered {
    padding-top: 25px;
  }

  .aboutDescriptionContainer {
    position: relative;
    font-size: 20px;
    color: black;
    width: 100%;
    top: 40px;
    left: 20px;
    -webkit-animation: descAnimation 5s; /*For Safari*/
    animation: descAnimation 5s;
  }

  @-webkit-keyframes descAnimation {
    from {
      left: 0px;
    }
    to {
      left: 20px;
    }
  }

  @keyframes descAnimation {
    from {
      left: 0px;
    }
    to {
      left: 20px;
    }
  }

  .gridContainer,
  .gridItems,
  .projectImage,
  .serviceImage,
  .altContainer {
    display: grid;
    grid-template-columns: auto;
    margin-top: 10px;
    text-align: center;
  }

  .gridContainer#project,
  .gridItems#project,
  .projectImage {
    display: grid;
    grid-template-columns: auto;
    margin-top: 10px;
    margin-left: 25px;
    text-align: center;
  }

  h4#footer,
  p#contact,
  h6#email,
  a#email,
  p#copyright {
    display: grid;
    grid-template-columns: auto;
    margin-top: 10px;
  }

  .coverContainer {
    /*Cover container for the every page having the cover image*/
    position: relative;
    background-attachment: fixed;
  }

  /*Second Cover image on the About Me page*/
  .aboutCover {
    position: relative;
    background-attachment: fixed;
    /* padding: 50px;
    padding-top: 60px; */
  }

  p#quote {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
  }

  h2#index {
    padding-top: 40px;
    padding-left: 20px;
  }

  h2#quoteIndex {
    padding-top: 50px;
    text-align: center;
  }

  h1.quote {
    text-align: center;
    padding: 40px 40px;
    font-style: italic;
  }

  h1#project {
    text-align: center;
    padding-top: 30px;
  }

  h1#services {
    text-align: center;
    padding-top: 30px;
  }

  h2#services {
    padding-top: 40px;
    padding-left: 30px;
  }

  .projectImage {
    width: 80%;
    background-color: #292929;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(117, 117, 117, 0.3),
      0 7px 18px 0 rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .projectImage#index {
    width: 95%;
    background-color: #292929;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(117, 117, 117, 0.3),
      0 7px 18px 0 rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .serviceImage {
    max-width: 70%;
    background-color: #292929;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(117, 117, 117, 0.3),
      0 7px 18px 0 rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .altContainer {
    text-align: center;
    padding: 15px 10px;
    font-size: 20px;
  }

  .serviceDescription {
    text-align: left;
  }

  .formContainer {
    background-color: #181818;
    color: white;
    padding: 20px;
  }

  .labelsForm {
    float: left;
    width: 25%;
    margin-top: 7px;
  }

  .inputsForm {
    float: left;
    width: 75%;
    margin-top: 7px;
  }

  footer {
    position: bottom;
    width: 100%;
    background-color: #292929;
    color: white;
    padding-bottom: 80px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .coverContainer {
    /*Cover container for the every page having the cover image*/
    position: relative;
    background-attachment: fixed;
  }

  /*postitioning the title in center*/
  .titleCentered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 50px;
    -webkit-animation: titleAnimation 4s; /*Animation For Safari*/
    animation: titleAnimation 4s; /*Animation for other browser*/
  }

  /* animation keyframes for safari*/
  @-webkit-keyframes titleAnimation {
    from {
      top: 30%;
      left: 50%;
    }
    to {
      top: 40%;
      left: 50%;
    }
  }

  /*Animation keyframes for the other browsers */
  @keyframes titleAnimation {
    from {
      top: 30%;
      left: 50%;
    }
    to {
      top: 40%;
      left: 50%;
    }
  }

  .titleCentered p {
    font-size: 30px;
  }

  img.cover {
    width: 100%;
    height: auto;
  }

  /*Second Cover image on the About Me page*/
  .aboutCover {
    background-attachment: fixed;
    background-color: #181818;
    height: 400px;
  }

  /*Description on the About me page*/
  .aboutDescriptionContainer {
    position: relative;
    top: 50px;
    left: 90px;
    width: 90%;
    font-size: 25px;
    color: white;
    font-style: italic;
    -webkit-animation: descAnimation 5s;
    animation: descAnimation 5s;
  }

  /* animation keyframes for safari*/
  @-webkit-keyframes descAnimation {
    from {
      left: 30px;
    }
    to {
      left: 90px;
    }
  }

  /*Animation keyframes for the other browsers */
  @keyframes descAnimation {
    from {
      left: 30px;
    }
    to {
      left: 90px;
    }
  }

  img.myCover {
    width: 100%;
    height: auto;
    border-radius: 1%;
    border: 1px solid;
    box-shadow: 2px 10px 8px 10px #9b9999;
    transition: transform 0.2s;
  }

  /*Hover property used for the About me cover image*/
  img.myCover:hover {
    -webkit-transform: scale(1.1); /*Transform transition For Safari*/
    transform: scale(1.1); /*Transform transition For Other browsers*/
  }

  .indexImage {
    margin-left: -50px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .indexImage:hover {
    -webkit-transform: scale(1.2); /*Transform transition For Safari*/
    transform: scale(1.2); /*Transform transition For Other browsers*/
  }

  p#quote {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
  }

  h2#index {
    padding-top: 40px;
    padding-left: 20px;
  }

  h2#quoteIndex {
    padding-top: 50px;
    text-align: center;
  }

  h1.quote {
    text-align: center;
    padding: 40px 40px;
    font-style: italic;
  }

  h1#project {
    text-align: center;
    padding-top: 30px;
  }

  h1#services {
    text-align: center;
    padding-top: 30px;
  }

  h2#services {
    padding-top: 40px;
    padding-left: 30px;
  }

  /*Index page about me description*/
  .aboutDescription {
    text-align: left;
  }

  /*Making the grid conatiner for the grid display*/
  .gridContainer,
  .gridContainer#project {
    display: grid; /*Grid display for projects and services page*/
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    padding-top: 50px;
  }

  /*Items in the grid container*/
  .gridItems,
  .gridItems#project {
    font-size: 30px;
    text-align: center;
    align-content: center;
    padding-left: 50px;
  }

  .projectImage:hover {
    -webkit-transform: scale(1.1); /*Transform transition For Safari*/
    transform: scale(1.1); /*Transform transition For Other browsers*/
  }

  .serviceImage:hover {
    -webkit-transform: scale(1.1); /*Transform transition For Safari*/
    transform: scale(1.1); /*Transform transition For Other browsers*/
  }

  .projectImage {
    width: 80%;
    background-color: #292929;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(117, 117, 117, 0.3),
      0 7px 18px 0 rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .projectImage#index {
    width: 95%;
    background-color: #292929;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(117, 117, 117, 0.3),
      0 7px 18px 0 rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .serviceImage {
    max-width: 70%;
    background-color: #292929;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(117, 117, 117, 0.3),
      0 7px 18px 0 rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .altContainer {
    text-align: center;
    padding: 15px 10px;
    font-size: 35px;
  }

  .serviceDescription {
    text-align: left;
  }

  input[type="text"],
  [type="email"],
  textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid rgb(182, 182, 182);
    border-radius: 10px;
    resize: vertical;
  }

  label {
    padding: 12px;
    font-size: 20px;
  }

  input[type="submit"] {
    position: relative;
    background-color: rgb(95, 74, 190);
    color: white;
    padding: 12px 20px;
    float: right;
  }

  input[type="submit"]:hover {
    background-color: #432ebb;
  }

  .formContainer {
    background-color: #181818;
    color: white;
    padding: 20px;
  }

  .labelsForm {
    float: left;
    width: 25%;
    margin-top: 7px;
  }

  .inputsForm {
    float: left;
    width: 75%;
    margin-top: 7px;
  }

  /* Clear floats after the columns */
  .row:after {
    clear: both;
  }

  footer {
    position: bottom;
    width: 100%;
    background-color: #292929;
    color: white;
    padding-bottom: 80px;
  }

  footer .gridContainer {
    margin-left: -60px;
  }

  p#copyright,
  p#contact {
    font-size: 20px;
  }

  h6#email,
  a#email {
    font-size: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .coverContainer {
    /*Cover container for the every page having the cover image*/
    position: relative;
    background-attachment: fixed;
  }

  /*postitioning the title in center*/
  .titleCentered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 50px;
    -webkit-animation: titleAnimation 4s; /*Animation For Safari*/
    animation: titleAnimation 4s; /*Animation for other browser*/
  }

  /* animation keyframes for safari*/
  @-webkit-keyframes titleAnimation {
    from {
      top: 30%;
      left: 50%;
    }
    to {
      top: 40%;
      left: 50%;
    }
  }

  /*Animation keyframes for the other browsers */
  @keyframes titleAnimation {
    from {
      top: 30%;
      left: 50%;
    }
    to {
      top: 40%;
      left: 50%;
    }
  }

  .titleCentered p {
    font-size: 30px;
  }

  img.cover {
    width: 100%;
    height: auto;
  }

  /*Second Cover image on the About Me page*/
  .aboutCover {
    background-attachment: fixed;
    background-color: #181818;
    height: 400px;
  }

  /*Description on the About me page*/
  .aboutDescriptionContainer {
    position: relative;
    top: 50px;
    left: 90px;
    width: 90%;
    font-size: 30px;
    color: white;
    font-style: italic;
    -webkit-animation: descAnimation 5s;
    animation: descAnimation 5s;
  }

  /* animation keyframes for safari*/
  @-webkit-keyframes descAnimation {
    from {
      left: 30px;
    }
    to {
      left: 90px;
    }
  }

  /*Animation keyframes for the other browsers */
  @keyframes descAnimation {
    from {
      left: 30px;
    }
    to {
      left: 90px;
    }
  }

  img.myCover {
    width: 100%;
    height: auto;
    border-radius: 1%;
    border: 1px solid;
    box-shadow: 2px 10px 8px 10px #9b9999;
    transition: transform 0.2s;
  }

  /*Hover property used for the About me cover image*/
  img.myCover:hover {
    -webkit-transform: scale(1.1); /*Transform transition For Safari*/
    transform: scale(1.1); /*Transform transition For Other browsers*/
  }

  .indexImage {
    margin-left: -50px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .indexImage:hover {
    -webkit-transform: scale(1.2); /*Transform transition For Safari*/
    transform: scale(1.2); /*Transform transition For Other browsers*/
  }

  p#quote {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
  }

  h2#index {
    padding-top: 40px;
    padding-left: 20px;
  }

  h2#quoteIndex {
    padding-top: 50px;
    text-align: center;
  }

  h1.quote {
    text-align: center;
    padding: 40px 40px;
    font-style: italic;
  }

  h1#project {
    text-align: center;
    padding-top: 30px;
  }

  h1#services {
    text-align: center;
    padding-top: 30px;
  }

  h2#services {
    padding-top: 40px;
    padding-left: 30px;
  }

  /*Index page about me description*/
  .aboutDescription {
    text-align: left;
  }

  /*Making the grid conatiner for the grid display*/
  .gridContainer,
  .gridContainer#project {
    display: grid; /*Grid display for projects and services page*/
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    padding-top: 50px;
  }

  /*Items in the grid container*/
  .gridItems,
  .gridItems#project {
    font-size: 30px;
    text-align: center;
    align-content: center;
    padding-left: 50px;
  }

  .projectImage:hover {
    -webkit-transform: scale(1.1); /*Transform transition For Safari*/
    transform: scale(1.1); /*Transform transition For Other browsers*/
  }

  .serviceImage:hover {
    -webkit-transform: scale(1.1); /*Transform transition For Safari*/
    transform: scale(1.1); /*Transform transition For Other browsers*/
  }

  .projectImage {
    width: 80%;
    background-color: #292929;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(117, 117, 117, 0.3),
      0 7px 18px 0 rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .projectImage#index {
    width: 95%;
    background-color: #292929;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(117, 117, 117, 0.3),
      0 7px 18px 0 rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .serviceImage {
    max-width: 70%;
    background-color: #292929;
    box-shadow: 0 5px 10px 0 rgba(117, 117, 117, 0.3),
      0 7px 18px 0 rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    transition: transform 0.2s; /*Transform transition effect*/
  }

  .altContainer {
    text-align: center;
    padding: 15px 10px;
    font-size: 35px;
  }

  .serviceDescription {
    text-align: left;
  }

  input[type="text"],
  [type="email"],
  textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid rgb(182, 182, 182);
    border-radius: 10px;
    resize: vertical;
  }

  label {
    padding: 12px;
    font-size: 20px;
  }

  input[type="submit"] {
    position: relative;
    background-color: rgb(95, 74, 190);
    color: white;
    padding: 12px 20px;
    float: right;
  }

  input[type="submit"]:hover {
    background-color: #432ebb;
  }

  .formContainer {
    background-color: #181818;
    color: white;
    padding: 20px;
  }

  .labelsForm {
    float: left;
    width: 25%;
    margin-top: 7px;
  }

  .inputsForm {
    float: left;
    width: 75%;
    margin-top: 7px;
  }

  /* Clear floats after the columns */
  .row:after {
    clear: both;
  }

  footer {
    position: bottom;
    width: 100%;
    background-color: #292929;
    color: white;
    padding-bottom: 80px;
  }

  footer .gridContainer {
    margin-left: -60px;
  }

  p#copyright,
  p#contact {
    font-size: 20px;
  }

  h6#email,
  a#email {
    font-size: 20px;
  }
}
